header {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-50);
  background-color: var(--bg-content);
  border-radius: var(--border-radius);
  padding: 20px;
}

header h1 {
  margin-bottom: 15px;
  font-size: calc(var(--base-size) * 2.5);
}

header var {
  font-style: normal;
  margin-bottom: 15px;
  font-size: calc(var(--base-size) * 1.125);
  color: var(--primary);
}

button {
  background: none;
  color: var(--primary);
  background-color: var(--button-primary);
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  font-size: calc(var(--base-size) * 1.5);
  transition: var(--transition-button);
}

button:hover {
  background-color: var(--button-primary-hover);
  color: var(--button-text);
  transition: var(--transition-button);
}

.App {
  margin: 40px auto;
  max-width: 1000px;
}

.w-100 {
  width: 100%;
}

.grid {
  border: 1px solid var(--primary-50);
  background-color: var(--bg-content);
  border-radius: var(--border-radius);
  padding: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

/* Gradients -- https://uigradients.com/ */

.cherry {
  /* fallback for old browsers */
  background: #eb3349;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #f45c43, #eb3349);
}

.raspberry {
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
}

.subu {
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
}

.sun {
  background: #ffb347;
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  background: linear-gradient(to right, #ffcc33, #ffb347);
}

.mauve {
  background: #42275a;
  background: -webkit-linear-gradient(to right, #734b6d, #42275a);
  background: linear-gradient(to right, #734b6d, #42275a);
}

.leaf {
  background: #76b852;
  background: -webkit-linear-gradient(to right, #8dc26f, #76b852);
  background: linear-gradient(to right, #8dc26f, #76b852);
}

.serv {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}
