@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,300&display=swap");

/* Global Styles */
:root {
  --font-stack: "Open Sans", sans-serif;
  --white: #fafafa;
  --gray: #cdcdcd;
  --bg-content: #2d2d2d;
  --dark: #1d1d1d;
  --base-size: 1rem;
  --border-radius: 15px;
  --transition-button: 500ms;
  --transition-flip: 250ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--font-stack);
  font-size: var(--base-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
